ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

ion-card {
  width: 90%;
  max-width: 400px;
  text-align: center;
}

ion-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

ion-card-header {
  background-color: #ff6600;
  padding: 10px 0;
}

ion-card-title {
  font-size: 18px;
  font-weight: bold;
}

ion-card-content p {
  font-size: 16px;
  color: #f8f8f8;
  line-height: 22px;
}