<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Formadora 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Card com informações -->
   <ion-card>
    <img src="assets/img/foto.jpeg" alt="Minha foto" />

    <ion-card-header>
      <ion-card-title>
        Arthur Lopes de Azevedo Paulino Ribeiro
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Código da Turma:</strong> ADS0301M</p>
      <p>Bem-vindo a minha aplicação criada no Ionic!</p>
    </ion-card-content>
   </ion-card>
</ion-content>
